{% extends 'base.html' %} {% block content %}
<header>
  <div class="header-section">
    <h1 class="header-title">Kiswahili Hate Speech CLassification</h1>
    <p class="header-subtext">
      Enter text or upload an image to check for hate speech
    </p>
  </div>
</header>
<div class="twitter-img">
  <div class="twitter">

    <button class="" id="predict">connect X</button>
  </div>
  <div class="image">
    <label for="image-upload">Upload an Image:</label>
    <input type="file" name="image" id="image-upload" accept="image/*">
  </div>
</div>
<main>

  <form action="{% url 'home' %}" method="POST" id="myForm">
    {% csrf_token %}
        <textarea name="text" id="speech-box" class="speech-box" placeholder="Enter your Swahili text...">{{ text }}</textarea>

  </form>
  <button class="blue" id="predict">Predict</button>
  <!-- <button>Analyze</button> -->
  <div class="results">
    <div class="prediction">
      <span class="title">Prediction</span>
      <br />
      <span class="verdict">{{ predictions }}</span>
    </div>
  </div>

</main>


{% endblock %}
