{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_update.css' %}">
    <title>Update Password</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">Home</a>
                <div class="navbar-menu">
                    <a href="{% url 'update_user' %}" class="navbar-item">Update Profile</a>
                    <a href="{% url 'update_password' %}" class="navbar-item">Update Password</a>
                </div>
            </div>
        </nav>
        <div class="container text-center">
            <h1 class="title">Update Password</h1>
            <p class="subtitle">Update your password</p>
        </div>
    </header>
    <div class="container">
        <div class="form-container">
            <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Update Password</button>
            </form>
        </div>
    </div>
</body>

</html>